body {
    text-align: center;
}

.frame {
    position: relative;
    width: 400px;
    height: 300px;
    margin: 1rem, 0;
}

.slide {
    display: block;
    margin-bottom: 2rem;
}

img {
    max-width: 500px;
    max-height: 500px;
}

.hide {
    display: none;
}

.current {
    transition: opacity .5s ease-out;
}

.spacer {
    padding: 2rem;
}